@font-face {
  font-family: "Alimama_ShuHeiTi_Bold";
  src: url("./Alimama_ShuHeiTi_Bold.ttf");
  // font-weight: normal;
  // font-style: normal;
}
body {
  font-family: "Alimama_ShuHeiTi_Bold";
  --fontColor: #4f4f4f;
  --fontColor2: #acacac;
}
